# editor files
*.iml
.idea
*.swp
*.swo
*~


/Godeps/_workspace
/bazel-*
/_artifacts/

# This is where the result of the go build goes
/output*/
/_output*/
/_output

# OSX trash
.DS_Store

# Eclipse files
.classpath
.project
.settings/**

# vim
*.swp
*~

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

